<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to index.ejs</h1>
    <h1> <%= 1+12+13+15 %> </h1>

    <% for(let item of arr){ %>
        <h1>  <%=item%> </h1>
    <% } %>

    <% if(false){ %>
        <h2>Hello</h2> 
    <% }else{ %>
        <h2>byee</h2>
    <% } %>
</body>
</html>