<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Showing a particular Blog</h1>
    <div>
        <h1> <%= foundBlog.id %> </h1>
        <h1> <%= foundBlog.author %> </h1>
        <h1> <%= foundBlog.comment %> </h1>
        <a href="/blogs">back</a>
    </div>
</body>
</html>